$color-muted: #6c80a7;
$color-primary: #39A7FF;
$color-success: #28A745;
$color-infor: #17A2B8;
$color-warning: #FFC827;
$color-danger: #DC3545;
$color-light: #6C7796;
$color-dark: #343A59;
$color-button-section: #c7a17a;
$color-coffee: #c6a079;

$color-cards: gray;