$w-wide: 100%;
$w-tablet: 644px;
$w-pc: 984px;

.grid-container {
    width: 100%;
    display: grid;
    padding: 0;
    &.wide {
        max-width: $w-wide;
        margin: 0 auto;
    }
    // Di dong /////////////////////////
    &.cols {
        @for $w-cols from 0 through 12  {
            &-#{$w-cols} {
                grid-template-columns: repeat($w-cols, minmax(0, #{$w-cols}fr));
            }
        }
    }

    .col-none {
        display: none;
    }

    .col-span {
        @for $w-col from 0 through 12  {
            &-#{$w-col} {
                grid-column: span $w-col/ span $w-col;
            }
        }
    }

    &.gap {
        @for $w-gap from 0 through 12  {
            &-#{$w-gap} {
                gap: $w-gap * 0.4rem;
            }
            &-x-#{$w-gap}{
                column-gap: $w-gap * 0.4rem;
            }
            &-y-#{$w-gap}{
                row-gap: $w-gap * 0.4rem;
            }
        }
    }

    // Tablet///////////////////////////
    @media screen and (min-width: 768px) {
        &.gap-md {
            @for $w-gap from 0 through 12  {
                &-#{$w-gap} {
                    gap: $w-gap * 0.4rem;
                }
                &-x-#{$w-gap}{
                    column-gap: $w-gap * 0.4rem;
                }
                &-y-#{$w-gap}{
                    row-gap: $w-gap * 0.4rem;
                }
            }
        }

        &.cols-md {
            @for $w-cols from 0 through 12  {
                &-#{$w-cols} {
                    grid-template-columns: repeat($w-cols, minmax(0, #{$w-cols}fr));
                }
            }
        }
        %db-tablet{
            display: block;
        }
        .cols-span-md {
            @for $w-col from 0 through 12  {
                &-#{$w-col} {
                    grid-column: span $w-col/ span $w-col;
                    @extend %db-tablet;
                }
            }
        }
    }
    @media (min-width: 768px) and (max-width: 1023px){
        &.wide{
            max-width: 100%;
        }
    }
    // PC///////////////////////////////////
            // pc low//////////
    @media screen and (min-width: 1113px) {
        &.cols-lg {
            @for $w-cols from 0 through 12  {
                &-#{$w-cols} {
                    grid-template-columns: repeat($w-cols, minmax(0, #{$w-cols}fr));
                }
            }
        }
        &.gap-lg {
            @for $w-gap from 0 through 12  {
                &-#{$w-gap} {
                    gap: $w-gap * 0.4rem;
                }
                &-x-#{$w-gap}{
                    column-gap: $w-gap * 0.4rem;
                }
                &-y-#{$w-gap}{
                    row-gap: $w-gap * 0.4rem;
                }
            }
        }
        .cols-span-lg {
            @for $w-col from 0 through 12  {
                &-#{$w-col} {
                    grid-column: span $w-col/ span $w-col;
                }
            }
        }
    }
    @media (min-width: 1024px) and (max-width: 1200px){
        &.wide{
            max-width: $w-pc;
        }
        &.cols-lg {
            @for $w-cols from 0 through 12  {
                &-#{$w-cols} {
                    grid-template-columns: repeat($w-cols, minmax(0, #{$w-cols}fr));
                }
            }
        }
        &.gap-lg {
            @for $w-gap from 0 through 12  {
                &-#{$w-gap} {
                    gap: $w-gap * 0.4rem;
                }
                &-x-#{$w-gap} {
                    column-gap: $w-gap * 0.4rem;
                }
                &-y-#{$w-gap} {
                    row-gap: $w-gap * 0.4rem;
                }
            }
        }
        %db-desktop{
            display: block;
        }
        .cols-span-lg {
            @for $w-col from 0 through 12  {
                &-#{$w-col} {
                    grid-column: span $w-col/ span $w-col;
                    @extend %db-desktop;
                }
            }
        }
    }
}