.fl-r{
    float: right;
}
.fl-l{
    float: left;
}

.text-center{
  text-align: center;
}
@for $bdr from 0 through 12{
  .border-radius-#{$bdr}{
    border-radius: $bdr * 2px;
  }
}

//font-size////
@for $f-z from 1 through 12{
  .fz-#{$f-z}{
    font-size: $f-z * 1em;
  }
}

// Border///////////
@for $bd from 0 through 5{
    @if $bd == 0{
        .border-#{$bd}{
          border: none !important;
        }
    }
    @else {
        .border-#{$bd}{
            border: #{$bd}px solid gray;
        }
        .border-b-#{$bd}{
            border-bottom: #{$bd}px solid gray !important;
        }
        .border-t-#{$bd}{
            border-top: #{$bd}px solid gray !important;
        }
        .border-l-#{$bd}{
            border-left: #{$bd}px solid gray !important;
        }
        .border-r-#{$bd}{
            border-right: #{$bd}px solid gray !important;
        }
    }
}


// -------- Margin -----------------
.m {
    &g-auto{
        margin: 0 auto !important;
    }
    &l-auto{
        margin-left: auto;
    }
    &r-auto{
        margin-right: auto;
    }
    &g-0 {
        margin: 0 !important;
    }
    @for $number_mg from 0 through 12 {
        // mx-
        &x-#{$number_mg} {
          margin-left: $number_mg * 0.4rem !important;
          margin-right: $number_mg * 0.4rem !important;
        }

      // my-
        &y-#{$number_mg} {
            margin-top: $number_mg * 0.4rem !important;
            margin-bottom: $number_mg * 0.4rem !important;
        }

        // mt-
        &t-#{$number_mg} {
            margin-top: $number_mg * 0.4rem !important;
        }

        // mr-
        &r-#{$number_mg} {
            margin-right: $number_mg * 0.4rem !important;
        }

        // mb-
        &b-#{$number_mg} {
            margin-bottom: $number_mg * 0.4rem !important;
        }
        //ml-
        &l-#{$number_mg} {
            margin-left: $number_mg * 0.4rem !important;
        }
    }
}

// --------- padding -----------
.p{
    &d-0 {
        padding: 0 !important;
    }
    @for $number__pd from 0 to 12 {
        // px-
        &x-#{$number__pd} {
            padding-left: $number__pd*0.4rem !important;
            padding-right: $number__pd*0.4rem !important;
        }

        // py-
        &y-#{$number__pd} {
            padding-top: $number__pd*0.4rem !important;
            padding-bottom: $number__pd*0.4rem !important;
        }

        // pt-
        &t-#{$number__pd} {
            padding-top: $number__pd*0.4rem !important;
        }

        // pr-
        &r-#{$number__pd} {
            padding-right: $number__pd*0.4rem !important;
        }

        // pb-
        &b-#{$number__pd} {
            padding-bottom: $number__pd*0.4rem !important;
        }

        // pl-
        &l-#{$number__pd} {
            padding-left: $number__pd*0.4rem !important;
        }
    }
}

/// Line height///
.line-heighth{
    @for $lh from 0 through 6{
        &-#{$lh}{
            line-height: $lh*0.5rem !important;
        }
    }
}
